# Python
__pycache__/
*.py[cod]
venv/
.env

# Large Data Files
data/temp_vertical_cache.csv
data/Murata_SideBySide_Master.csv
data/cache/
data/logs/


# Private Files
docs/
archive/
*.pptx

#Temp Files
# Ignore Excel temporary files
**/~$*


# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
